/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
}

/* 侧边栏样式 */
.sidebar {
    background-color: #232121;
    width: 200px;
    height: 100%;
    position: fixed;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #333;
}

.sidebar a:hover {
    color: #007bff;
}

/* 主要内容区域样式 */
.box {

    padding: 0 20px;
}

.box-head {
    font-size: 24px;
    font-weight: bold;
}


