body{
	margin:0;
	background-image: url("../img/lib.jpg");
	background-size: cover;
	font:600 16px/18px ;
}
*,:after,:before{
	box-sizing:border-box;
}
.clearfix:after,.clearfix:before{
	content:'';
	display:table;
}
.clearfix:after{
	clear:both;
	display:block;
}
a{
	color: #8cd1f3;
	font-size: 12px;
	margin-left: 64px;
}
input, button {
  outline: none;
  border: none;
}
.login-wrap{
	position:absolute;
	right: 10%;
	top: 15%;
	width:400px;
	height:520px;
	border-radius: 20px;
}
.login-html{
	width:100%;
	height:100%;
	border-radius: 20px;
	position:absolute;
	padding:40px 70px 50px 70px;
	background-color:white;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	-webkit-transform:rotateY(180deg);
	        transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	        backface-visibility:hidden;
	-webkit-transition:all .4s linear;
	        transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
/*.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}*/
.login-html .tab{
	font-size:20px;
	margin-right:30px;
	padding-bottom:5px;
	margin:30px 15px 30px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:rgb(21, 200, 231);
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	-webkit-perspective:1000px;
	        perspective:1000px;
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#000;
	display:block;
}
.login-form .group .button{
	color: white;
}
.login-form .group .input,
.login-form .group .button{
	border:1px solid rgb(145, 118, 118);
	padding:5px 20px;
	border-radius:25px;
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color: #b0aca9;
	font-size:12px;
	margin-bottom: 15px;
}
.login-form .group .button{
	background: #1188ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	-webkit-transition:all .2s ease-in-out 0s;
	        transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	-webkit-transform:scale(0) rotate(0);
	    -ms-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	-webkit-transform:scale(0) rotate(0);
	    -ms-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color: #b4b0ad;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	-webkit-transform:scale(1) rotate(45deg);
	    -ms-transform:scale(1) rotate(45deg);
	        transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	-webkit-transform:scale(1) rotate(-45deg);
	    -ms-transform:scale(1) rotate(-45deg);
	        transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	-webkit-transform:rotate(0);
	    -ms-transform:rotate(0);
	        transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	-webkit-transform:rotate(0);
	    -ms-transform:rotate(0);
	        transform:rotate(0);
}


.foot-lnk{
	text-align:center;
}

.group p{
	font-size: 14px;
	color: #bcc1ca;
}

.group .error{
	font-size: 14px;
	color: #df373f;
}


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {

	/* WebKit browsers */

	color: #666;

}

input:-moz-placeholder, textarea:-moz-placeholder {

	/* Mozilla Firefox 4 to 18 */

	color: #666;

}

input::-moz-placeholder, textarea::-moz-placeholder {

	/* Mozilla Firefox 19+ */

	color: #666;

}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {

	/* Internet Explorer 10+ */

	color: #666;

}

input:focus::-webkit-input-placeholder {
	color: transparent;
}
input:focus::-ms-input-placeholder {
	color: transparent;
}
input:focus::-moz-input-placeholder {
	color: transparent;
}
input:focus::-o-input-placeholder {
	color: transparent;
}

.login-form .group .input:focus{

	width: 270px;
	height: 36px;
	border-style:solid;
	border-color: #03a9f4;
	box-shadow: 0 0 1px #03a9f4;

}




article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}
abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}
dfn{font-style:italic;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
mark{background:#ff0;color:#000;}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}
pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}
svg:not(:root){overflow:hidden;}figure{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal;}button,select{text-transform:none;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}