/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
}

/* 侧边栏样式 */
.sidebar {
    background-color: #232121;
    width: 200px;
    height: 100%;
    position: fixed;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #333;
}

.sidebar a:hover {
    color: #007bff;
}

/* 主要内容区域样式 */
.box {

    padding: 0 20px;
}

.box-head {
    font-size: 24px;
    font-weight: bold;
}


.footer-bar {
    /* 样式与 header-bar 保持一致  */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    padding: 15px 20px; /* 内边距 */

    text-align: center;
    color: #6c757d; /* 和欢迎信息的日期颜色一致 [cite: 62, 197] */
    font-size: 0.9rem;

    /* 关键：与 iframe 容器隔开 */
    margin-top: 20px;
}

.footer-bar p {
    margin: 0;
}