<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>demo</display-name>
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.demo.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/UserServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>adminLoginServlet</servlet-name>
	<servlet-class>com.demo.servlet.AdminLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>adminLoginServlet</servlet-name>
	<url-pattern>/adminLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>userLoginServlet</servlet-name>
	<servlet-class>com.demo.servlet.UserLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>userLoginServlet</servlet-name>
	<url-pattern>/userLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>manageStudentServlet</servlet-name>
	<servlet-class>com.demo.servlet.ManageStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>manageStudentServlet</servlet-name>
	<url-pattern>/manageStudentServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>manageBookServlet</servlet-name>
	<servlet-class>com.demo.servlet.ManageBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>manageBookServlet</servlet-name>
	<url-pattern>/manageBookServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>userChoiceServlet</servlet-name>
	<servlet-class>com.demo.servlet.UserChoiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>userChoiceServlet</servlet-name>
	<url-pattern>/userChoiceServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>borrowServlet</servlet-name>
	<servlet-class>com.demo.servlet.BorrowServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>borrowServlet</servlet-name>
	<url-pattern>/borrowServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>PageServlet</servlet-name>
	<servlet-class>com.demo.servlet.PageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>PageServlet</servlet-name>
	<url-pattern>/PageServlet.do</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<filter>
	<filter-name>filter2</filter-name>
	<filter-class>com.demo.filter.CharacterFilter</filter-class>
	</filter>
	<filter-mapping>
	<filter-name>filter2</filter-name>
	<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
	<filter-name>filter1</filter-name>
	<filter-class>com.demo.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
	<filter-name>filter1</filter-name>
	<url-pattern>*.do</url-pattern>
	</filter-mapping>
	  <jsp-config>  
        <taglib>  
           <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>  
            <taglib-location>/WEB-INF/c.tld</taglib-location>  
          </taglib>  
  </jsp-config>  
</web-app>